.playerContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
/* Positional Layouts */
.posTL {
    margin-bottom: 50px;
    grid-column: 1;
    grid-row: 1;
}
.posTR {
    margin-bottom: 50px;
    flex-flow: row-reverse;
    grid-column: 2;
    grid-row: 1;
}
.posBL {
    margin-top: 50px;
    grid-column: 1;
    grid-row: 4;
}
.posBR {
    margin-top: 50px;
    flex-flow: row-reverse;
    grid-column: 2;
    grid-row: 4;
}

/* Color Themes (if needed for NameContainer etc) */
.red {}
.yellow {}
.blue {}
.green {}
